* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    width: 100%;
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding-left: 5.4375rem;
}

.header .your {
    color: #000;
    font-weight: 700;
    font-size: 1.6875rem;
    line-height: 2.5rem;
}

.header .logo {
    color: #000;
    font-weight: 400;
    font-size: 1.6875rem;
    line-height: 2.5rem;
}

.header__navegacao ul {
    display: flex;
    list-style: none;
    padding-right: 5.5rem;
}

.header__navegacao a {
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 2rem;
    margin-right: 1rem;
    color: #3E3E3E;
}

.title-content {
    background: url('../img/Hero_Desktop.jpg') no-repeat right top;
    background-size: cover;
    height: 38.375rem;
    
}

.title-content h2 {
    width: 30.9375rem;
    height: 6.25rem;
    padding-top: 16.5rem;
    padding-left: 5.3125rem;
    font-weight: 400;
    font-size: 2.75rem;
    color: #FFF;
}

.title-content p {
    width: 32.375rem;
    height: 3.25rem;
    margin-top: 6.875rem;
    margin-left: 5.3125rem;
    font-weight: 300;
    font-size: 1.125rem;
    color: #FFF;
}

.title-content a {
    display: block;
    width: 13.75rem;
    height: 3.125rem;
    margin-top: 0.5rem;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 1.5625rem;
    border: none;
    background-color: #3E50E5;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    margin-left: 5.3125rem;
}

.principal {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.produtos {
    margin-top: 20px;
    border: 1px solid #d8d8d8;

}

.produtos img {
    width: 11.75rem;
    height: 11rem;
    margin-left: 5.4375rem;
    margin-top: 90px;
}

.produtos .paragrafo1 {
    width: 22.9375rem;
    height: 0.9175rem;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: #3E50E5;
    text-align: center;
}

.produtos .paragrafo2 {
    width: 22.9375rem;
    height: 1.5rem;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: center;
    color: #000;
}

.produtos h2 {
    width: 17.0625rem;
    height: 2.25rem;
    padding-left: 4.1875rem;
    text-align: center;
}

.produtos a {
    display: block;
    width: 10.75rem;
    height: 2.375rem;
    padding-left: 6.125rem;
    padding: 0.625rem;
    border: 1px solid #000;
    border-radius: 1.625rem;
    text-align: center;
    text-decoration: none;
    margin-left: 5.5rem;
    color: #000;
}